<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django level two</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"/>
</head>
<body>
    <h1>Hi welcome to Django level two!</h1>
    <h2>Here are your access records:</h2>
    <div class= "djangotwo">
        <%if access_records %>
        <table>
            <thead>
                <th> Site Name </th>
                <th> Date </th>
            </thead>
            <tbody>
                <% for record in access_records %>
                <tr>
                    <td> {{ record.name }} </td>
                    <td> {{ record.date }} </td>
                </tr>
                <% endfor %>
            </tbody>
        </table>
        <% else %>
        <p> There are no access records in the database. </p>
        <% endif %>

    <h3>{{ insert_me }}</h3>
</body>
</html>